<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p><img class="developer-img" src="/images/BeautyPlus_20190613121315613_save.jpg" alt="developer's image" /><%= contactContent %> </p>
<%- include("partials/footer"); -%>
